aiodns==3.5.0
appdirs==1.4.4
astropy==6.1.3
autopep8==2.0.4
Bottleneck==1.4.2
brotlicffi==1.1.0.0
datashader==0.18.2
distributed==2025.11.0
docx2txt==0.9
flake8==7.1.1
Flask-SQLAlchemy==3.1.1
gmpy2==2.2.1
h5py==3.15.1
HeapDict==1.0.1
hf-xet==1.2.0
httptools==0.7.1
hvplot==0.12.1
imbalanced-learn==0.14.0
intake==2.0.8
ipympl==0.9.7
jupyter==1.1.1
langchain==1.2.0
langchain-chroma==1.1.0
langchain-community==0.4.1
langchain-huggingface==1.2.0
langchain-ollama==1.0.1
lckr_jupyterlab_variableinspector==3.2.4
lmdb==1.7.5
lz4==4.4.5
mkl_fft==2.1.1
mkl_random==1.3.0
mpi4py==4.0.3
mypy==1.17.1
openpyxl==3.1.5
pip==25.3
plotly==6.3.0
psycopg2==2.9.11
psycopg2-binary==2.9.9
pycurl==7.45.7
pydocstyle==6.3.0
pyodbc==5.3.0
PyPDF2==3.0.1
PySocks==1.7.1
pytest==8.4.2
python-docx==1.2.0
PyWavelets==1.8.0
rope==1.14.0
s3fs==2025.10.0
schema==0.7.8
scikit-image==0.25.2
Scrapy==2.13.3
seaborn==0.13.2
sentence-transformers==5.2.0
sip==6.12.0
spyder==6.1.0
statsmodels==0.14.5
streamlit==1.51.0
tables==3.10.1
tabulate==0.9.0
twisted-iocpsupport==1.0.2
typer-slim==0.20.0
unstructured==0.18.21
watchfiles==1.1.1
websockets==15.0.1
whatthepatch==1.0.7
wheel==0.45.1
win_inet_pton==1.1.0
winloop==0.3.1
xlwings==0.33.15
yapf==0.43.0
